extends adminLayout
block content
    div.container
        h2 Discussion Spams (rev sorted by spam_flag_count)
        br
        p Table of those items
        br
        h2 Review Spams (rev sorted by s_f_c)

