extends adminLayout
block content
div
h2 Create a new Rating Parameter
form.form-horizontal(method='post', action ='')
    div.form-group
        label.col-md-2.control-label Name
        div.col-md-10
            input.form-control(type="text" name="name" placeholder="Name")
    div.form-group
        label.col-md-2.control-label Parameter type
        div.col-md-10
            input.form-control(type="text" name="type" placeholder="Parameter Type")
    div.form-group
        label.col-md-2.control-label Sort Order
        div.col-md-10
            input.form-control(type="text" name="sortOrder" placeholder="Sort Order")
    div.form-group
        button.btn.btn-primary.col-md-offset-10(type = 'submit') Submit
