extends adminLayout
block content
    div
        h2 Create a new User
        form.form-horizontal(method='post', action ='')
            div.form-group
                label.col-md-2.control-label Email
                div.col-md-10
                    input.form-control(type="text" name="email" value="#{user.email}")
            div.form-group
                label.col-md-2.control-label First Name
                div.col-md-10
                    input.form-control(type="text" name="firstName" value="#{user.first_name}")
            div.form-group
                label.col-md-2.control-label Last Name
                div.col-md-10
                    input.form-control(type="text" name="lastName" value="#{user.last_name}")
            div.form-group
                label.col-md-2.control-label Photo URL
                div.col-md-10
                    input.form-control(type="text" name="photoUrl" value="#{user.photo_url}")
            div.form-group
                button.btn.btn-primary.col-md-offset-10(type = 'submit') Submit
