extends adminLayout
block content
    div
        h2 Update Spam ID #{spam.id}
        form.form-horizontal(method='post', action ='')
            div.form-group
                label.col-md-3.control-label Resolved
                div.col-md-2
                    select.form-control(name="isResolved")
                        option(value="0") No
                        option(value="1") Yes
            div.form-group
                button.btn.btn-primary.col-md-offset-10(type = 'submit') Submit
