extends adminLayout
block content
    div
        h2.col-md-9 name of table
        button.btn.btn-primary.col-md-3 ADD
        table.table.table-hover
            tr
                td #
                td User Name
                td Type
                td Item ID
                td Time
                td Resolved
                td Actions
            tr
                td 1
                td Abhilak
                td 12
                td 23
                td 1212312
                td 0
                td.row
                    a(href='view/1')
                        i.fa.fa-eye.fa-2(title='View')
                    a(href='update/1')
                        i.fa.fa-pencil-square-o.fa-2(title='Update')
                    a(href='delete/1')
                        i.fa.fa-trash-o.fa-2(title='Delete')



