extends layout
block content
    div
        h2 Reject Meeting Request
        form.form-horizontal(method='post', action ='')
            div.form-group
                label.col-md-2.control-label Message
                div.col-md-10
                    textarea.form-control(type="textarea" rows="10" name="reply" placeholder="Reject Message")
            div.form-group
            button.btn.btn-primary.col-md-offset-10(type = 'submit') Submit
                          