extends layout
block content
    div.container
        div.row
            h2.col-md-4 Courses
            h6 CSE | EE | BSBE

        -courses=courses
        -for course in courses
            div.well
                a(href='/course/#{course.id}/')
                    h3 #{course.course_name}
                p(style=" text-overflow: ellipsis; overflow:hidden; white-space: nowrap;") #{course.description}




