extends layout
block content
    div.container
        h1 List of all courses goes here
        ul
            li Course 1 ( /course/1)
                ul
                    li 2014/II
                    li 2013/I
            li C9       ( /course/9)



