extends layout
block content
    div.container
        div.col-md-offset-2.col-md-8
            h3 FAQs
            div.box-shadow.row(style="width:100%")
                h4
                    b Q1. How do I register for the website ?
                p The registration is done using your CC login credentials. The password for the website can be changed after the registration. An activation link will be sent to your IITK email ID using which you can activate your account and get started!
            div.box-shadow.row(style="width:100%")
                h4
                    b Q2. Does my CC login password gets into your database ?
                p No, we do not store your CC login credentials. The CC login ID becomes your login ID for this website. It is used only to check if you are an  authorised user.
            div.box-shadow.row(style="width:100%")
                h4
                    b Q3. What if I forget my password ?
                p Click on the "Forgot Password?" link. Enter Username and EmailID to receive an email with a link to reset the password.
            div.box-shadow.row(style="width:100%")
                h4
                    b Q4. Can I give the feedback as an anonymous user ?
                p Ohh Yes! You Can! But be careful, the admin still knows your identity.
            div.box-shadow.row(style="width:100%")
                h4
                    b Q5. Are the comments related to the Professors visible to them.
                p Yes. Everything is visible to everybody.
            div.box-shadow.row(style="width:100%")
                h4
                    b Q6. What shall I do if I see an inappropriate post by any user ?
                p Against every post, there is a Report Spam button to report such malignant posts.
            div.box-shadow.row(style="width:100%")
                h4
                    b Q7. How can I change my display picture ?
                p On the top right page, click on the username being displayed. It will show you a dropdown menu, select update profile. Here, you can upload you display picture.
