div(style="background:#7E7E7E; padding: 40px; clear:both")
    .container
        .footer
            small
                a(href='/faq/').agray FAQs
                |  |
                a(href='/contact/').agray  Contact Us
                |  |
                a(href='/team/').agray  About Us
                |  |
                a(href='/feedback/').agray  Feedback
            small.pull-right
                |  Powered by You and &nbsp;
                a(href="http://nodejs.org/")
                    img(src="http://nodejs.org/images/download-logo.png" height="15px" style="position:absolute;")

script(src='/js/bootstrap.min.js')
block footer