div.list-group
    a(href="/admin/course/").list-group-item Course
    a(href="/admin/courseOffering/").list-group-item Course Offering
    a(href="/admin/courseOfferingRatingParam/").list-group-item Course Offering Rating Param
    a(href="/admin/discussion/").list-group-item Discussion
    a(href="/admin/professor/").list-group-item Professor
    a(href="/admin/rating/").list-group-item Rating
    a(href="/admin/ratingParam/").list-group-item Rating Params
    a(href="/admin/ratingValue/").list-group-item Rating Values
    a(href="/admin/review/").list-group-item Review
    a(href="/admin/spam/").list-group-item Spam
    a(href="/admin/user/").list-group-item User


