doctype html
html
    head
        block head
            block title
                title Rate My Course
            block meta
                meta(name='description' content='')
                meta(name='keywords' content='')
            link(rel='stylesheet', href='/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/font-awesome.min.css')
            link(rel='stylesheet', href='/css/site.css')
            link(rel='stylesheet', href='/css/star-rating.min.css')
            | <style>
            | body { padding-top: 60px; height:100%;}
            | html {height:100%;}
            | </style>
            script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
            script(src='/js/star-rating.min.js')
    body.body-light
        include header
        div(style="height:100%;")
            block content
        include footer
