extends layout
block content
    div.container
        div.col-md-offset-3.col-md-5(style='margin-top:100px;')
            div.box-shadow(style='width:100%')
                h2(style="text-align:center") Enter your CC credentials
                br
                form.form-horizontal(method='post', action ='/register/')
                    div.form-group
                        label.col-md-5.control-label CC Login
                        div.col-md-6
                            input.form-control(type="text" name="login" placeholder="Enter your CC Login")
                    div.form-group
                        label.col-md-5.control-label CC Password
                        div.col-md-6
                            input.form-control(type="password" name="password" placeholder="Enter your CC password")
                    br
                    div.form-group
                        button.btn.btn-success.col-md-offset-6.col-md-4(type = 'submit') SUBMIT

