extends layout
block content
    div.col-md-offset-1
        h1 Meet The Team
        div.row
            div.col-md-5
                div.box-shadow.row(style="width:100%")
                    div.col-md-5.row
                        img(src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1240596_437613153012024_1174288921_n.jpg?oh=89463c68c10b0434a2bd98b209320fbf&oe=54F6AB54&__gda__=1424912816_edd43b2177d8bf383311ff3eac54695a' height="150px")
                    div.col-md-7
                        h2
                            a(href="https://facebook.com/abhilash.276") Abhilash Kumar
                        h3 abhilak@iitk.ac.in
            div.col-md-offset-1.col-md-5
                div.box-shadow.row(style="width:100%")
                    div.col-md-5.row
                        img(src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10469898_10203136676002450_2411478829935804883_n.jpg?oh=f294c128a67e6057eea2e2a1eec962ea&oe=54E2AE23&__gda__=1420715100_3df4ff728dfeab7deb7252c498dbec3b' height="150px")
                    div.col-md-7
                        h2
                            a(href="https://www.facebook.com/ankita.pasricha.7") Ankita Pasricha
                        h3 ankitap@iitk.ac.in
        div.row
            div.col-md-5
                div.box-shadow.row(style="width:100%")
                    div.col-md-5.row
                        img(src='https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10641179_576940319077537_7902694051261969495_n.jpg?oh=89e9d60b104e41f65e70e736d88fbd3a&oe=54D8CD22&__gda__=1423584254_77cda9de2abb9ade9b895cee43cb87fb' height="150px")
                    div.col-md-7
                        h2
                            a(href="https://www.facebook.com/arnab.ghosh.58367") Arnab Ghosh
                        h3 arnabgho@iitk.ac.in

            div.col-md-5.col-md-offset-1
                div.box-shadow.row(style="width:100%")
                    div.col-md-5.row
                        img(src='http://home.iitk.ac.in/~ksaurav/saurav.jpg' height="150px")
                    div.col-md-7
                        h2
                            a(href="https://www.facebook.com/2020saurav") Saurav Kumar
                        h3 ksaurav@iitk.ac.in

        div.row
            div.col-md-5
                div.box-shadow.row(style="width:100%")
                    div.col-md-5.row
                        img(src='https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/v/t1.0-9/10494744_10203984519426944_6047255349953773059_n.jpg?oh=0332dab55485262dbd41a7b212379498&oe=54EC6C35&__gda__=1424377810_4920ecd25b09c0bd6de5ef4663dcbd9e' height="150px")
                    div.col-md-7
                        h2
                            a(href="https://www.facebook.com/shubhangeeverma30") Shubhangee&nbsp;Verma
                        h3 shubhv@iitk.ac.in
            div.col-md-5.col-md-offset-1
                div.box-shadow.row(style="width:100%")
                    div.col-md-5.row
                        img(src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10754934_837545436290056_1907308502_n.jpg?oh=b71ddc4782f18e54637b9e5d2562322f&oe=546029C5&__gda__=1415596373_fe45a38c3c76830981f175beedaf7c30" height="150px")
                    div.col-md-7
                        h2
                            a(href="https://www.facebook.com/shubhangeeverma30") Viveka&nbsp;Kulharia
                        h3 vivkul@iitk.ac.in

