extends layout
block content
    div.col-md-offset-1
        h1 Meet The Team
        div.col-md-5
            div.box-shadow.row(style="width:100%")
                div.col-md-4.row
                    img(src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1240596_437613153012024_1174288921_n.jpg?oh=89463c68c10b0434a2bd98b209320fbf&oe=54F6AB54&__gda__=1424912816_edd43b2177d8bf383311ff3eac54695a' width="100%" height="125px")
                div.col-md-8 Lak, Set some standard for photo size and give a photo of that size!
        div.col-md-offset-1.col-md-5
            div.box-shadow.row(style="width:100%")
                div.col-md-4.row
                    img(src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10469898_10203136676002450_2411478829935804883_n.jpg?oh=f294c128a67e6057eea2e2a1eec962ea&oe=54E2AE23&__gda__=1420715100_3df4ff728dfeab7deb7252c498dbec3b' width="100%" height="125px")
                div.col-md-8 Ankita, Set some standard for photo size and give a photo of that size!
        div.col-md-5
            div.box-shadow.row(style="width:100%")
                div.col-md-4.row
                    img(src='http://home.iitk.ac.in/~ksaurav/saurav.jpg' width="100%" height="125px")
                div.col-md-8 Ye thik hai :D
        div.col-md-offset-1.col-md-5
            div.box-shadow.row(style="width:100%")
                div.col-md-4.row
                    img(src='https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/v/t1.0-9/10494744_10203984519426944_6047255349953773059_n.jpg?oh=0332dab55485262dbd41a7b212379498&oe=54EC6C35&__gda__=1424377810_4920ecd25b09c0bd6de5ef4663dcbd9e' width="100%" height="125px")
                div.col-md-8 Gee, Set some standard for photo size and give a photo of that size!

