extends layout
block content
    div.col-md-offset-5
        h1 Meet The Team
    div.container.well
        div.col-md-6.well
            div.col-md-9
                label.col-md-2 Name
                label.col-md-10 Saurav Kumar
                label.col-md-2 Login ID
                label.col-md-10 saurav
                label.col-md-2 Email
                label.col-md-10 saurav@iitk.ac.in
            div.col-md-3
                img(src="", width = "100%")
        div.col-md-6.well
            label.col-md-2 Name
            label.col-md-10 Abhilash Kumar
            label.col-md-2 Login ID
            label.col-md-10 abhilak
            label.col-md-2 Email
            label.col-md-10 abhilak@iitk.ac.in
        div.col-md-6.well
            div.col-md-9
                label.col-md-2 Name
                label.col-md-10 Shubhangee Verma
                label.col-md-2 Login ID
                label.col-md-10 shubhv
                label.col-md-2 Email
                label.col-md-10 shubhv@iitk.ac.in
            div.col-md-3
                img(src="https://www.facebook.com/photo.php?fbid=10200578557680029&set=a.1519215733965.71198.1041662598&type=1&theater", width = "100%")
        div.col-md-6.well
            label.col-md-2 Name
            label.col-md-10 Ankita Pasricha
            label.col-md-2 Login ID
            label.col-md-10 ankitap
            label.col-md-2 Email
            label.col-md-10 ankitap@iitk.ac.in
