extends layout
block content
    div.container
        div.col-md-offset-2.col-md-8
            h3 TERMS AND CONDITIONS
            div.box-shadow.row(style="width:100%")
                h4 Content
                p Site may include comments containing the personal opinions and other expressions of the persons who comments on a wide range of courses. Neither those content on the Site, nor any links to other websites, are approved, reviewed or endorsed by us. By posting to or viewing such items, you agree that we are not responsible or liable for the content of any postings therein. We reserve the right (but not the obligation) to remove any content from such forums on our discretion.
            div.box-shadow.row(style="width:100%")
                h4 Online Conduct
                p You agree to use the Sites in accordance with all applicable laws. Further, you agree that you will not use the Site for organized partisan political activities. You further agree that you will not post any of the following content:
                    ul
                        li Content that defames, harasses or threatens others
                        li Content that discusses illegal activities with the intent to commit such activities, or encourages others to commit such activities
                        li Advertising, promotional materials, or any form of commercial solicitation
                        li Material that contains obscene (i.e., pornographic) language or images
                        li Content that otherwise harms other users or visitors to the Sites
                        li Content that is otherwise unlawful or that violates any applicable local, state, national or international law.
                        li Content that probes, scans, or tests the vulnerability of any system or network
                        li Content that breaches or otherwise circumvents any security measures
                        li Content that interferes with or disrupts any user, host, or network
                        li Content that plants malware or otherwise uses the Sites to distribute malware
                p Although we do not routinely screen or monitor content posted by users to the Site, we reserve the right to remove any prohibited content of which we become aware, but is under no obligation to do so.
                p Finally, you agree that you will not access or attempt to access any other user's account, or misrepresent or attempt to misrepresent your identity while using the Sites.
            div.box-shadow.row(style="width:100%")
                h4 User Accounts
                p In order to fully participate in all Site activities, you must register with us using your CC Login ID for a personal account on the Site. You agree that you will never divulge or share access or access information to your User Account with any third party for any reason. You also agree to that you will create, use, and access only one User Account, and that you will not access the Site using multiple User Accounts.



