extends formLayout
block content
    div.container
        h2.col-md-9 name of table
        button.btn.btn-primary.col-md-3 ADD
        table.table.table-hover
            tr
                td #
                td Course Number
                td Course Name
                td Department
                td Actions

