.fa-2
{
    font-size: 1.8em;
    margin-left: 3px;
    margin-right: 3px;
    color: #222222;
}
.nav-black
{
    background-color: #837b7c;
    border-color: #080808;
    width: inherit;
}

.agray
{
    color: #333333;
}

.body-light
{
    background-color: #F5F5F5 ;
}
.box-shadow
{
    box-shadow: 3px 3px 7px 1px rgba(194, 194, 194, 0.8);
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    width: inherit;
    height: inherit;
    position: relative;
}
